<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ontology.platform.infrastructure.persistence.AgentRolePOMapper">
    <select id="selectByTokenId" resultType="com.ontology.platform.infrastructure.persistence.AgentRolePO">
        SELECT * FROM agent_role WHERE token_id = #{tokenId}
    </select>
    <select id="selectByDomain" resultType="com.ontology.platform.infrastructure.persistence.AgentRolePO">
        SELECT * FROM agent_role WHERE domain = #{domain}
    </select>
</mapper>
