<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ontology.platform.infrastructure.persistence.CausalityPOMapper">
    <select id="selectByOntologyId" resultType="com.ontology.platform.infrastructure.persistence.CausalityPO">
        SELECT * FROM causality WHERE ontology_id = #{ontologyId}
    </select>
    <select id="selectByCauseEventId" resultType="com.ontology.platform.infrastructure.persistence.CausalityPO">
        SELECT * FROM causality WHERE cause_event_id = #{causeEventId}
    </select>
    <select id="selectByEffectEventId" resultType="com.ontology.platform.infrastructure.persistence.CausalityPO">
        SELECT * FROM causality WHERE effect_event_id = #{effectEventId}
    </select>
</mapper>
