<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ontology.platform.infrastructure.persistence.ProcessStepPOMapper">
    <select id="selectByOntologyId" resultType="com.ontology.platform.infrastructure.persistence.ProcessStepPO">
        SELECT * FROM process_step WHERE ontology_id = #{ontologyId}
    </select>
</mapper>
